body, html {
    height: 100%;
}
.card {
  width:700px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px #000;
  margin: 0 auto;
  padding:10px;
}
.card img {
  width:100%;
}
.parallax { 
    /* The image used */
    background-image: url("http://bloximages.chicago2.vip.townnews.com/heraldextra.com/content/tncms/assets/v3/editorial/e/15/e158e492-2b5f-581d-9afa-8cc00634802c/579024075e553.image.jpg?resize=1200%2C800");

    /* Full height */
    height: 100%; 
  width:100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.parallax h1 {
  color:#Fff;
  text-align:center;
  font-family: lobster;
  line-height:150px;
  font-size:69px;
}
.card:last-child {
  bottom: 45px;
}